.theme-bg {
    background: $black !important;
}
.theme-color {
    color: $red !important;
}
.black-bg {
    background: $black !important;
}
::selection {
	background: $red;
}
a {
    color: inherit;
    &:hover {
        color: $red;
    }
}