#menu {
    .menu-links {
        li {
            a {
                &:hover {
                    color: $red !important;
                }
            }
        }
    }
    .search {
        .search-btn {
            &:hover {
                color: $red !important;
            }
        }
        .search-box {
            .search-button {
                color: $red !important;
            }
        }
    }
}