.action-box {
    &.phishing-alert {
        padding: convert(16) !important;
        h3 {
            font-size: convert(16) !important;
            line-height: convert(16) !important;
        }
        p {
            font-size: convert(14) !important;
        }
    }
    &.red-bg {
        padding: convert(30);

        .action-box-text {
            * {
                color: $white;
            }
        }

        a {
            color: $red !important;
            &.button {
                background-color: $white !important;
            }
        }
    }
}