.button {
    background: $red !important;
    border-color: $red !important;

    &:hover {
        background: $black !important;
        border-color: $black !important;
    }

    &.button-border {
        &.white {
            &:hover {
                background: $black !important;
                color: $white !important;
                border-color: $black !important;
            }
        }
    }
}