#contact-us {
    h2 {
        color: #363636;
    }

    form {
        .form-control {
            background: $white;
        }

        .footer-widget-social {
            i {
                &.fa {
                    &:hover {
                        background: $red;
                    }
                }
            }
        }
    }

    
}

#contact-us, .contact-2 {
    .map {
        img {
            height: 100vh;
        }
    }
    .contactus-form {
        input[name="company"] {
            opacity: 0;
            display:none;
        }
    }
}